<h1>响应式表单</h1>
<div>
    <form [formGroup]='sonInfo'>
        <div>
            <label>姓名:</label>
            <input type="text" formControlName='name' #iptName (keyup)='change(iptName.value)'>
            <p *ngIf='fcs["name"].touched&&fcs["name"].errors?.required'>姓名不能为空!</p>
            <p *ngIf='fcs["name"].touched&&fcs["name"].errors?.minlength'>名字不能小于两位数!</p>
            <p *ngIf='fcs["name"].touched&&fcs["name"].errors?.maxlength'>名字不能大于四位数</p>
        </div>
    </form>
</div>



<h1>模版驱动表单</h1>
<div>
    <form #form='ngForm'>
        <div>
            <label>名字:</label>
            <input type="text" name="iptN" id="name" required minlength="2" maxlength="4" [ngModel]='ngModel'
                #name='ngModel'>
            <p *ngIf="name.touched&&name.errors?.required">名字不能为空!</p>
            <p *ngIf="name.touched&&name.errors?.minlength">名字不能小于两位数!</p>
            <p *ngIf='name.touched&&name.errors?.maxlength'>名字不能大于四位数</p>
        </div>
        <div>
            <label>年纪:</label>
            <input type="text" name="iptA" id="age" [ngModel]='ngModel' #age='ngModel' required min="0"
                max="120">
            <p *ngIf='age.touched&&age.errors?.required'>年纪不能为空!</p>
            <p *ngIf='age.touched&&age.errors?.min'>年纪不能小于0!</p>
            <p *ngIf='age.touched&&age.errors?.max'>年纪不能大于120!</p>
        </div>
    </form>
</div>