<div class="locaction" [formGroup]='form'>
    <nz-form-label nzFor="name" nzRequired>车名</nz-form-label>
    <input style="width: 170px" nz-input placeholder="请输入车名" [(ngModel)]="name" formControlName='name' />
    <nz-form-label nzFor="age" nzRequired>车龄区间</nz-form-label>
    <input style="width: 170px" nz-input placeholder="请输入车龄" [(ngModel)]="startAge" formControlName='startAge' />
    <input style="width: 170px" nz-input placeholder="请输入车龄" [(ngModel)]="endAge" formControlName='endAge' />
    <button nz-button nzType="primary" (click)='findCars(name,startAge,endAge)'>搜索</button>
    <button nz-button nzType="primary" (click)='cleanCars()'>清空</button>
    <button nz-button nzType="primary" (click)="createCar()">添加</button>
</div>
<nz-table #basicTable [nzData]="cars">
    <thead>
        <tr>
            <th>ID</th>
            <th>车名</th>
            <th>车龄</th>
            <th>编辑</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let item of basicTable.data' [attr.id]='item.id'>
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>
                <a (click)="delete(item.id)">
                    <i nz-icon nzType="close-circle" nzTheme="outline"></i>
                    删除
                </a>
                &nbsp;
                <a (click)='editCar(item)'>
                    <i nz-icon nzType="funnel-plot" nzTheme="outline"></i>
                    更改
                </a>
            </td>
        </tr>
    </tbody>
</nz-table>


<nz-modal [(nzVisible)]="isVisible" nzTitle="添加车辆" (nzOnCancel)="cancel()" (nzOnOk)="onSave()" [nzWidth]='600'
    nzOkText="保存" nzCancelText="取消">
    <app-cars-edit></app-cars-edit>
</nz-modal>