<div class="head form">
    <h3>学生信息列表</h3>
    <div class="ipt-box">
        <label>姓名:</label>
        <input type="text" class="ipt" [(ngModel)]='name'>
    </div>
    <div class="ipt-box">
        <label>年纪:</label>
        <input type="text" class="ipt" [(ngModel)]='age'>
    </div>
    <div class="ipt-box">
        <label>备注:</label>
        <input type="text" class="ipt" [(ngModel)]='remark'>
    </div>
    <button type="button" class="btn add" (click)='click()'>添加</button>
    <button type="reset" class="btn reset">清空</button>
</div>
<table class="ipt-tb">
    <thead>
        <tr>
            <th>序号</th>
            <th>姓名</th>
            <th>年纪</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor='let item of arr'>
            <th>
                {{item.id}}
            </th>
            <th>
                {{item.name}}
            </th>
            <th>
                {{item.age}}
            </th>
            <th>
                {{item.remark}}
            </th>
        </tr>
    </tbody>
</table>