:host {
    .sale {
        width: 100px;
        height: 100px;
        background-color: pink;
    }

    img {
        max-width: 300px;
        max-height: 300px;
    }

    .head {
        width: 100%;
        height: 120px;
        border: 1px solid black;
        padding: 16px;

        label {
            font-size: 18px;
            color: #222f3e;
        }

        h3 {
            color: gray;
            margin-bottom: 12px;
        }

        .ipt-box {
            display: inline-block;
            margin-right: 12px;

            .ipt {
                height: 30px;
                width: 180px;
                border-radius: 6px;
            }
        }

        .btn {
            color: white;
            width: 50px;
            height: 28px;
            border-radius: 4px;
            cursor: pointer;
            background-color: #1e90ff;

            &:hover {
                color: blue;
            }

            &.add {
                margin-right: 12px;
            }
        }
    }

    .ipt-tb {
        margin-top: 1px;
        width: 100%;
        border: 1px solid black;
        padding: 18px;
    }

    #box {
        width: 100px;
        height: 100px;
        background-color: pink;
    }
}