<form nz-form [formGroup]="form" (ngSubmit)="submitForm()">
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="age">id</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-number formControlName="id" id="age"></nz-input-number>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">水果名:</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="name" id="name" />
        </nz-form-control>
    </nz-form-item>
</form>