<div>
    <button nz-button nzType="primary" (click)="showModal()">添加</button>
    <nz-modal [nzWidth]='800' [(nzVisible)]="isVisible" nzTitle="Modal" nzOkText="OK" nzCancelText="cancel" (nzOnOk)="handleOk()"
        (nzOnCancel)="handleCancel()">
        <!-- <ng-container *nzModalContent>
            <p>Bla bla ...</p>
            <p>Bla bla ...</p>
            <p>Bla bla ...</p>
        </ng-container> -->
        <app-modal-child-learn title="name"></app-modal-child-learn>
    </nz-modal>
</div>
<br />
<button nz-button nzType="primary" (click)="showConfirm()">Confirm</button>