<h1>属性绑定</h1>
<h2>Angular中的属性绑定可帮助你设置HTML元素或指令的属性值,使用属性绑定,你可以执行切换按钮,以编程方式设置路径,以及在组件之间共享值之类的功能.</h2>
<p>要绑定到元素的属性,请将其括在方括号[]内,该括号会将属性标为目标属性,目标属性就是你要对其进行赋值的DOM属性,</p>
<img [src]='itemImageUrl' alt="图片"><br>

<!-- <img src={{itemImageUrl}} alt="图片"><br> -->
<tr>
    <td colSpan="{{1 + 1}}">Three-Four</td>
</tr>
<br>
<h3>切换按钮功能</h3>
<button [disabled]='i'>Disabled Button</button>
<h3>设置指令的属性</h3>
<p [ngClass]="classes">[ngClass] binding to the classes property making this blue</p>
<h3>在组件之间绑定值</h3>
<p>要设置自定义组件的模型属性,请将目标属性放在方括号[]中,其后跟着等号与源属性</p>
<p>Your item is: {{ childItem }} </p>
<h3>属性绑定与安全性</h3>
<p>属性绑定可以帮助确保内容的安全</p>
<p><span>'{{evilTitle}}' is the <i>interpolated</i>evile title.</span></p>
<h3>属性绑定和插值</h3>
<p>插值和属性绑定可以达到相同的结果.</p>