@mixin LazyModuleHome {
    h3.title {
        color: #34495e;
    }

    div.navs {
        display: flex;
        padding: 10px 8px 20px;

        a {
            display: inline-block;
            text-decoration: none;
            margin-bottom: .3rem;
            margin-right: 20px;

            &:hover {
                cursor: pointer;
                color: orange;
            }

            &.active {
                color: orange;
            }
        }
    }

}