<div class="header">
    <!-- <h3>Http请求</h3> -->
</div>
<div class="content">
    <div class="buttons">
        <p class="title">Get请求</p>
        <button nz-button nzType="primary" (click)='queryAllStudent()'>获取所有学生信息</button>
        <button nz-button nzType="primary" (click)='queryFirstStudent()'>获取一个学生信息</button>
    </div>

    <div class="buttons">
        <p class="title">Post请求</p>
        <button nz-button nzType="primary" (click)='createStudent()'>创建一个学生信息</button>
        <button nz-button nzType="primary" (click)='ceateManyStudents()'>创建一百个学生信息</button>
    </div>
    <div class="buttons">
        <p class="title">Delete请求</p>
        <button nz-button nzType="primary" (click)='deleteStudent()'>删除一个学生信息</button>
    </div>
    <div class="buttons">
        <p class="title">Patch请求</p>
        <button nz-button nzType="primary" (click)='editStudent()'>编辑一个学生信息</button>
    </div>
</div>