:host {
    display: flex;
    flex-flow: column;

    div.header {}

    div.content {
        flex: 1;

        div.buttons{
            margin-bottom: 20px;
            p.title{
                font-size: 18px;
                font-weight: 600;
            }

            button{
                margin-right: 12px;
            }
        }
    }
}