<form [formGroup]='studentInfo'>
    <div>
        <label>姓名:</label>
        <input class="ipt" type="text" formControlName='name'>
        <p class="error-msg" *ngIf='formControls["name"].touched&&formControls["name"].errors?.required'>姓名不能为空</p>
        <p class="error-msg" *ngIf='formControls["name"].touched&&formControls["name"].errors?.minlength'>姓名至少为三个字符</p>
    </div>
    <div>
        <label>年纪:</label>
        <input class="ipt" type="number" formControlName='age'>
    </div>
    <div>
        <!-- <button (click)='save()' type="button" [disabled]='isUnchanged'>提交</button> -->
        <button (click)='save()' type="button" [disabled]='!studentInfo.valid'>提交</button>
    </div>
</form>
<p class="p">我是p标签</p>