<form nz-form [formGroup]="form" (ngSubmit)="submitForm()">

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="id">id</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-number formControlName="id" id="id"></nz-input-number>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="name">姓名</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="name" id="name" />
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="age">年纪</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <nz-input-number formControlName="age" id="age"></nz-input-number>
        </nz-form-control>
    </nz-form-item>

    <nz-form-item>
        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="remark">备注</nz-form-label>
        <nz-form-control [nzSm]="14" [nzXs]="24">
            <input nz-input formControlName="remark" id="remark" />
        </nz-form-control>
    </nz-form-item>
</form>