:host {
    user-select: none;
    display: flex;
    width: 100%;
    height: 100%;

    div.navbar {
        width: 280px;
        height: 100%;
        background-color: #000C17;
        // display: flex;
        // flex-flow: column;
        // align-items: center;
        // // width: 200px;
        // flex: 0 0 200px;
        // height: 100%;
        // padding: 1rem;
        // background-color: #1E1E1E;

        // p.title {
        //     margin-bottom: 1rem;
        //     font-size: 1.2rem;
        //     font-weight: 500;
        //     color: #23A9F2;
        //     outline: none;

        //     &:hover {
        //         cursor: pointer;
        //     }
        // }

        // a.nav {
        //     display: inline-block;
        //     text-decoration: none;
        //     margin-bottom: .3rem;
        //     color: gray;

        //     &:hover {
        //         cursor: pointer;
        //         color: orange;
        //     }

        //     &.active {
        //         color: orange;
        //     }
        // }
    }

    div.content {
        flex: 1 1 0;
        height: 100%;
        padding: 1rem;
        // background: linear-gradient(90deg, hsl(24, 20%, 87%) 1px, hsl(24, 20%, 95%)) -3px no-repeat;
    }
}