<div class="navbar">
    <!-- <p class="title" routerLink="/">Angular学习</p>
    <a class="nav" routerLink="/home" routerLinkActive="active">主页</a>
    <a class="nav" routerLink="/basics-learn" routerLinkActive="active">基础学习</a>
    <a class="nav" routerLink="/service-learn" routerLinkActive="active">服务学习</a>
    <a class="nav" routerLink="/form-learn" routerLinkActive="active">表单学习</a><a class="nav"
        routerLink="/life-cycle-learn" routerLinkActive="active">生命周期学习</a>
    <a class="nav" routerLink="/table-learn" routerLinkActive="active">学生动态表格</a>
    <a class="nav" routerLink="/hero-form" routerLinkActive="active">英雄表单</a>
    <a class="nav" routerLink="/hero" routerLinkActive="active">英雄</a>

    <a class="nav" routerLink="/communication" routerLinkActive="active">父子组件通信</a>
    <a class="nav" routerLink="/child" routerLinkActive="active">子组件</a>
    <a class="nav" routerLink="/order" routerLinkActive="active">指令</a>
    <a class="nav" routerLink="/view-child" routerLinkActive="active">视图练习</a>
    <a class="nav" routerLink="/broadcast" routerLinkActive="active">消息订阅</a>
    <a class="nav" routerLink="/training" routerLinkActive="active">消息订阅练习</a>
    <a class="nav" routerLink="/students" routerLinkActive="active">项目实战</a>
    <a class="nav" routerLink="/fruits" routerLinkActive="active">项目实战2</a> -->
    <ul nz-menu nzMode="inline" nzTheme="dark">
        <li nz-submenu nzTitle="Angular学习" nzIcon="coffee" [nzOpen]='menuOpen'>
            <ul>
                <li nz-menu-item (click)='goto("/http-learn/home")'>http</li>
                <li nz-menu-item (click)='goto("/service-learn")'>服务</li>
            </ul>
        </li>
        <li nz-submenu nzTitle="项目实战" nzIcon="coffee" [nzOpen]='menuOpen'>
            <ul>
                <li nz-menu-item (click)='goto("/students/student-list")'>学生列表</li>
                <li nz-menu-item (click)='goto("/fruits/fruits-list")'>水果列表</li>
            </ul>
        </li>
    </ul>
</div>
<div class="content">
    <router-outlet></router-outlet>
</div>