<h2>自定义表单</h2>
<form [formGroup]="form">
    <div class="areaContainer">
        <label>区域:</label>
        <select formControlName="area">
            <option label="请选择"></option>
            <option *ngFor="let item of areaData">{{item}}</option>
        </select>
    </div>
    <div class="townContainer">
        <label>街镇:</label>
        <select formControlName="town">
            <option label="请选择"></option>
            <option *ngFor="let item of townData">{{item}}</option>
        </select>
    </div>
</form>