:host {
    p{
        font-size: 18px;
       color: red;
    }
    .container {
        display: flex;
        flex-direction: row;
        .ipt-age{
            margin-left: 12px;
        }
    }
}