<h1>模板语句</h1>
<h2>模板语句是可在HTML中用于响应用户事件的方法或属性,使用模板语句,你的应用可以通过显示动态内容或提交表单之类的动作吸引用户</h2>
<p>Template input $evnet statement context</p>
<button (click)='onSave($event)'>点击</button>
<p>Template input variable statement context (let hero)</p>
<!-- <button *ngFor='let hero of heroes' (click)='deleteHero(hero)'>{{hero.name}}</button> -->
<p>Component statement context ((click)='onSave()')</p>
<button (click)='deleteHero()'>Delete hero</button>
<h2>模板语句最佳实践</h2>
<p>通过只使用方法或基本属性赋值,让模板语句最少化.</p>
<p>在上下文工作中模板语句的上下文可以是组件类实例或模板,因此,模板语句无法引用全局名称空间中的任何内容,例如window或document,例如,模板语句不能调用console.log()或Math.max()</p>